 {{!-- place burger.png centered then put Eat-da-burger under it--}}
<div class="container">

    <div class="row">
        <div class="col-md-12  col-sm-12  ">
            <ul>
                {{#each articles}} {{> scrape/scrape-block }} {{/each}}
            </ul>

        </div>
    </div>

   
</div>