body,html {
       
    /* Center and scale the image nicely */   

    /* background:  url("https://img.etsystatic.com/il/82eee2/826670393/il_340x270.826670393_fvq4.jpg") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 25%;
}

.jumbotron {
	overflow: hidden;
    background-size: 50%;
    background-position: center;
    /* background-image: url('../images/newspaper.png');
    background-repeat: no-repeat; */
    height: 400px;
    width: 100%;
}

.panel-heading.row {
	width: 100%;
    margin-left: 0%;
}

.panel-primary {
    height: 135px;
}


#savenote {
    display: block;
}

/* 
  These rules take effect when the browser's width
  is 640px or less.
*/
@media screen and (max-width: 640px) {
	
}
